ACCESS_WEB_TOKEN (a password for generating the access token) 
REFRESH_WEB_TOKEN (a password for generating the refresh access token)
PORT (the port number)
MONGODB_URI (the mongodb uri with the password)
EMAIL_USER
PASSWORD_USER
NODE_ENV
RESEND_API_KEY